@import "tailwindcss";

@font-face {
    font-family: 'GeosansLight'; /* Custom font name */
    src: url('./assets/fonts/GeosansLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #191919;
    height: 100vh;
    width: 100vw;
    font-family: 'GeosansLight', sans-serif;
}
.navbar{
    background-color: #101010
}
.search{
    background: #AFAFAF;
}
.container{
    background: #191919;
    box-shadow: 15px 3px 81.5px 184px rgba(0, 0, 0, 0.25) inset, 0px -1px 57px 14px #141414;
}
#trail {
    position: fixed;
    width: 25px; /* Glow width */
    height: 25px; /* Glow height */
    background: rgb(202, 202, 202); /* Subtle teal glow */
    border-radius: 50%; /* Circular shape */
    pointer-events: none; /* Ensure it doesn't block clicks */
    z-index: 0; /* Appear above other elements */
    transform: translate(-50%, -50%); /* Precisely center the glow on cursor */
    /* filter: blur(100px); Smooth glowing effect */
    mix-blend-mode: color-dodge; /* Enhance the glow's interaction with background */
  }